################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecipenatorWeb/.vs/RecipenatorWeb/FileContentIndex/2965fb4e-d33c-487a-b5ad-622ab63aa13b.vsidx
/RecipenatorWeb/.vs/RecipenatorWeb/FileContentIndex/67120729-baa8-4d27-ab93-cfd22ddd7148.vsidx
/RecipenatorWeb/.vs/RecipenatorWeb/FileContentIndex/7fdd0f14-d52b-4005-906c-d828cffd5658.vsidx
/RecipenatorWeb/.vs/RecipenatorWeb/FileContentIndex/9a0987fe-297c-408b-b66f-e01e0a6d789f.vsidx
/RecipenatorWeb/.vs/RecipenatorWeb/FileContentIndex/55a92943-ab93-49ab-b606-d4ce926cd4c8.vsidx
